doctype html
html(lang="en-EN")
	head
		title ivi
		link(rel="stylesheet", href="css/main.css")
	body
		div#brilliant.item
			div#item.item
			div.text-wrap
				p#item-text.item
	script(src='js/common.js')
